<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.embedeed_project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SalesManagement" >
        </activity>
        <activity android:name="PurchaseManagement" >
        </activity>
        <activity android:name="ItemManagement" >
        </activity>
        <activity android:name="ShopInfo" >
        </activity>
        <activity android:name="PurchaseMain" >
        </activity>
        <activity android:name="Advertisement" >
        </activity>
        <activity android:name="Cafe" >
        </activity>
        <activity android:name="Option" >
        </activity>
        <activity android:name="AppInfo" >
        </activity>
        <activity android:name="ItemManagementAddItem" >
        </activity>
        <activity android:name="ItemManagementByDate" >
        </activity>
        <activity android:name="ItemManagementByCompany" >
        </activity>
        <activity android:name="SalesManagementByDate" >
        </activity>
        <activity android:name="SalesManagementByCompany" >
        </activity>
        <activity android:name="SalesManagementByItem" >
        </activity>
        <activity android:name="PurchaseManagementByDate" >
        </activity>
        <activity android:name="PurchaseManagementByItem" >
        </activity>
        <activity android:name="PurchaseManagementByCompany" >
        </activity>
        <activity android:name="SalesManagementAdd" >
        </activity>
        <activity android:name="PurchasePay"></activity>
    </application>

</manifest>